.section {
	margin: 0 auto;  
	max-width: 1024px; 
}

.instagram-image {
	width: 50%;
	float: left;
	text-align: center;
}

.instagram-placeholder {
	width: 100%;
}

.instagram-button {
	width: 100%;
	font-weight: 700;
	font-size: 16px; 
	padding: 15px;
	border: 0;
	cursor: pointer;;
	color: #555555;
}
